<div class="collection with-header">
  <div class="collection-header"><h4>Conteúdos</h4></div>
  <%= link_to "blog", pages_blog_path %>
  <a href="pages/blog" class="collection-item">BLOG</a>
  <a href="/courses" class="collection-item">CURSOS</a>
  <a href="/bootcamp" class="collection-item">BOOTCAMP</a>
</div>
